<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Users</h2>
    <table>
        <thead>
        <tr>
            <th>TripID</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.originLocation.name}"></td>
            <td th:text="${ticket.destinationLocation.name}"></td>
            <td th:text="${ticket.time}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>